In [1]:
import pandas as pd
import sqlite3

In [2]:
data_one = pd.read_csv('data_sets/globalterrorismdb_0718dist.csv', sep=',', encoding='latin1')

/tmp/ipykernel_125604/3633903094.py:1: DtypeWarning: Columns (4,6,31,33,61,62,63,76,79,90,92,94,96,114,115,121) have mixed types. Specify dtype option on import or set low_memory=False.
  data_one = pd.read_csv('data_sets/globalterrorismdb_0718dist.csv', sep=',', encoding='latin1')

In [3]:
data_one.info

<bound method DataFrame.info of              eventid  iyear  imonth  iday approxdate  extended resolution  \
0       197000000001   1970       7     2        NaN         0        NaN
1       197000000002   1970       0     0        NaN         0        NaN
2       197001000001   1970       1     0        NaN         0        NaN
3       197001000002   1970       1     0        NaN         0        NaN
4       197001000003   1970       1     0        NaN         0        NaN
...              ...    ...     ...   ...        ...       ...        ...
181686  201712310022   2017      12    31        NaN         0        NaN
181687  201712310029   2017      12    31        NaN         0        NaN
181688  201712310030   2017      12    31        NaN         0        NaN
181689  201712310031   2017      12    31        NaN         0        NaN
181690  201712310032   2017      12    31        NaN         0        NaN

        country         country_txt  region  ... addnotes  \
0            58  Dominican Republic       2  ...      NaN
1           130              Mexico       1  ...      NaN
2           160         Philippines       5  ...      NaN
3            78              Greece       8  ...      NaN
4           101               Japan       4  ...      NaN
...         ...                 ...     ...  ...      ...
181686      182             Somalia      11  ...      NaN
181687      200               Syria      10  ...      NaN
181688      160         Philippines       5  ...      NaN
181689       92               India       6  ...      NaN
181690      160         Philippines       5  ...      NaN

                                                   scite1  \
0                                                     NaN
1                                                     NaN
2                                                     NaN
3                                                     NaN
4                                                     NaN
...                                                   ...
181686  "Somalia: Al-Shabaab Militants Attack Army Che...
181687  "Putin's 'victory' in Syria has turned into a ...
181688  "Maguindanao clashes trap tribe members," Phil...
181689  "Trader escapes grenade attack in Imphal," Bus...
181690  "Security tightened in Cotabato following IED ...

                                                   scite2  \
0                                                     NaN
1                                                     NaN
2                                                     NaN
3                                                     NaN
4                                                     NaN
...                                                   ...
181686  "Highlights: Somalia Daily Media Highlights 2 ...
181687  "Two Russian soldiers killed at Hmeymim base i...
181688                                                NaN
181689                                                NaN
181690  "Security tightened in Cotabato City," Manila ...

                                                   scite3  \
0                                                     NaN
1                                                     NaN
2                                                     NaN
3                                                     NaN
4                                                     NaN
...                                                   ...
181686  "Highlights: Somalia Daily Media Highlights 1 ...
181687  "Two Russian servicemen killed in Syria mortar...
181688                                                NaN
181689                                                NaN
181690                                                NaN

                        dbsource  INT_LOG  INT_IDEO INT_MISC INT_ANY  related
0                           PGIS        0         0        0       0      NaN
1                           PGIS        0         1        1       1      NaN
2                           PGIS       -9        -9        1       1      NaN
3                           PGIS       -9        -9        1       1      NaN
4                           PGIS       -9        -9        1       1      NaN
...                          ...      ...       ...      ...     ...      ...
181686  START Primary Collection        0         0        0       0      NaN
181687  START Primary Collection       -9        -9        1       1      NaN
181688  START Primary Collection        0         0        0       0      NaN
181689  START Primary Collection       -9        -9        0      -9      NaN
181690  START Primary Collection       -9        -9        0      -9      NaN

[181691 rows x 135 columns]>

In [4]:
data_one.head()

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,197000000001,1970,7,2,NaN,0,NaN,58,Dominican Republic,2,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
1,197000000002,1970,0,0,NaN,0,NaN,130,Mexico,1,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
2,197001000001,1970,1,0,NaN,0,NaN,160,Philippines,5,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
3,197001000002,1970,1,0,NaN,0,NaN,78,Greece,8,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
4,197001000003,1970,1,0,NaN,0,NaN,101,Japan,4,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN

In [5]:
for col in data_one.columns:
    print(col)

eventid
iyear
imonth
iday
approxdate
extended
resolution
country
country_txt
region
region_txt
provstate
city
latitude
longitude
specificity
vicinity
location
summary
crit1
crit2
crit3
doubtterr
alternative
alternative_txt
multiple
success
suicide
attacktype1
attacktype1_txt
attacktype2
attacktype2_txt
attacktype3
attacktype3_txt
targtype1
targtype1_txt
targsubtype1
targsubtype1_txt
corp1
target1
natlty1
natlty1_txt
targtype2
targtype2_txt
targsubtype2
targsubtype2_txt
corp2
target2
natlty2
natlty2_txt
targtype3
targtype3_txt
targsubtype3
targsubtype3_txt
corp3
target3
natlty3
natlty3_txt
gname
gsubname
gname2
gsubname2
gname3
gsubname3
motive
guncertain1
guncertain2
guncertain3
individual
nperps
nperpcap
claimed
claimmode
claimmode_txt
claim2
claimmode2
claimmode2_txt
claim3
claimmode3
claimmode3_txt
compclaim
weaptype1
weaptype1_txt
weapsubtype1
weapsubtype1_txt
weaptype2
weaptype2_txt
weapsubtype2
weapsubtype2_txt
weaptype3
weaptype3_txt
weapsubtype3
weapsubtype3_txt
weaptype4
weaptype4_txt
weapsubtype4
weapsubtype4_txt
weapdetail
nkill
nkillus
nkillter
nwound
nwoundus
nwoundte
property
propextent
propextent_txt
propvalue
propcomment
ishostkid
nhostkid
nhostkidus
nhours
ndays
divert
kidhijcountry
ransom
ransomamt
ransomamtus
ransompaid
ransompaidus
ransomnote
hostkidoutcome
hostkidoutcome_txt
nreleased
addnotes
scite1
scite2
scite3
dbsource
INT_LOG
INT_IDEO
INT_MISC
INT_ANY
related

In [6]:
print(list(data_one))

['eventid', 'iyear', 'imonth', 'iday', 'approxdate', 'extended', 'resolution', 'country', 'country_txt', 'region', 'region_txt', 'provstate', 'city', 'latitude', 'longitude', 'specificity', 'vicinity', 'location', 'summary', 'crit1', 'crit2', 'crit3', 'doubtterr', 'alternative', 'alternative_txt', 'multiple', 'success', 'suicide', 'attacktype1', 'attacktype1_txt', 'attacktype2', 'attacktype2_txt', 'attacktype3', 'attacktype3_txt', 'targtype1', 'targtype1_txt', 'targsubtype1', 'targsubtype1_txt', 'corp1', 'target1', 'natlty1', 'natlty1_txt', 'targtype2', 'targtype2_txt', 'targsubtype2', 'targsubtype2_txt', 'corp2', 'target2', 'natlty2', 'natlty2_txt', 'targtype3', 'targtype3_txt', 'targsubtype3', 'targsubtype3_txt', 'corp3', 'target3', 'natlty3', 'natlty3_txt', 'gname', 'gsubname', 'gname2', 'gsubname2', 'gname3', 'gsubname3', 'motive', 'guncertain1', 'guncertain2', 'guncertain3', 'individual', 'nperps', 'nperpcap', 'claimed', 'claimmode', 'claimmode_txt', 'claim2', 'claimmode2', 'claimmode2_txt', 'claim3', 'claimmode3', 'claimmode3_txt', 'compclaim', 'weaptype1', 'weaptype1_txt', 'weapsubtype1', 'weapsubtype1_txt', 'weaptype2', 'weaptype2_txt', 'weapsubtype2', 'weapsubtype2_txt', 'weaptype3', 'weaptype3_txt', 'weapsubtype3', 'weapsubtype3_txt', 'weaptype4', 'weaptype4_txt', 'weapsubtype4', 'weapsubtype4_txt', 'weapdetail', 'nkill', 'nkillus', 'nkillter', 'nwound', 'nwoundus', 'nwoundte', 'property', 'propextent', 'propextent_txt', 'propvalue', 'propcomment', 'ishostkid', 'nhostkid', 'nhostkidus', 'nhours', 'ndays', 'divert', 'kidhijcountry', 'ransom', 'ransomamt', 'ransomamtus', 'ransompaid', 'ransompaidus', 'ransomnote', 'hostkidoutcome', 'hostkidoutcome_txt', 'nreleased', 'addnotes', 'scite1', 'scite2', 'scite3', 'dbsource', 'INT_LOG', 'INT_IDEO', 'INT_MISC', 'INT_ANY', 'related']

In [7]:
print(data_one.columns.tolist())

['eventid', 'iyear', 'imonth', 'iday', 'approxdate', 'extended', 'resolution', 'country', 'country_txt', 'region', 'region_txt', 'provstate', 'city', 'latitude', 'longitude', 'specificity', 'vicinity', 'location', 'summary', 'crit1', 'crit2', 'crit3', 'doubtterr', 'alternative', 'alternative_txt', 'multiple', 'success', 'suicide', 'attacktype1', 'attacktype1_txt', 'attacktype2', 'attacktype2_txt', 'attacktype3', 'attacktype3_txt', 'targtype1', 'targtype1_txt', 'targsubtype1', 'targsubtype1_txt', 'corp1', 'target1', 'natlty1', 'natlty1_txt', 'targtype2', 'targtype2_txt', 'targsubtype2', 'targsubtype2_txt', 'corp2', 'target2', 'natlty2', 'natlty2_txt', 'targtype3', 'targtype3_txt', 'targsubtype3', 'targsubtype3_txt', 'corp3', 'target3', 'natlty3', 'natlty3_txt', 'gname', 'gsubname', 'gname2', 'gsubname2', 'gname3', 'gsubname3', 'motive', 'guncertain1', 'guncertain2', 'guncertain3', 'individual', 'nperps', 'nperpcap', 'claimed', 'claimmode', 'claimmode_txt', 'claim2', 'claimmode2', 'claimmode2_txt', 'claim3', 'claimmode3', 'claimmode3_txt', 'compclaim', 'weaptype1', 'weaptype1_txt', 'weapsubtype1', 'weapsubtype1_txt', 'weaptype2', 'weaptype2_txt', 'weapsubtype2', 'weapsubtype2_txt', 'weaptype3', 'weaptype3_txt', 'weapsubtype3', 'weapsubtype3_txt', 'weaptype4', 'weaptype4_txt', 'weapsubtype4', 'weapsubtype4_txt', 'weapdetail', 'nkill', 'nkillus', 'nkillter', 'nwound', 'nwoundus', 'nwoundte', 'property', 'propextent', 'propextent_txt', 'propvalue', 'propcomment', 'ishostkid', 'nhostkid', 'nhostkidus', 'nhours', 'ndays', 'divert', 'kidhijcountry', 'ransom', 'ransomamt', 'ransomamtus', 'ransompaid', 'ransompaidus', 'ransomnote', 'hostkidoutcome', 'hostkidoutcome_txt', 'nreleased', 'addnotes', 'scite1', 'scite2', 'scite3', 'dbsource', 'INT_LOG', 'INT_IDEO', 'INT_MISC', 'INT_ANY', 'related']

In [8]:
print(data_one.dtypes)

eventid        int64
iyear          int64
imonth         int64
iday           int64
approxdate    object
               ...
INT_LOG        int64
INT_IDEO       int64
INT_MISC       int64
INT_ANY        int64
related       object
Length: 135, dtype: object

In [9]:
for k , t in zip(data_one.columns, data_one.dtypes):
    print(k,t, sep=" >>> ")

eventid >>> int64
iyear >>> int64
imonth >>> int64
iday >>> int64
approxdate >>> object
extended >>> int64
resolution >>> object
country >>> int64
country_txt >>> object
region >>> int64
region_txt >>> object
provstate >>> object
city >>> object
latitude >>> float64
longitude >>> float64
specificity >>> float64
vicinity >>> int64
location >>> object
summary >>> object
crit1 >>> int64
crit2 >>> int64
crit3 >>> int64
doubtterr >>> float64
alternative >>> float64
alternative_txt >>> object
multiple >>> float64
success >>> int64
suicide >>> int64
attacktype1 >>> int64
attacktype1_txt >>> object
attacktype2 >>> float64
attacktype2_txt >>> object
attacktype3 >>> float64
attacktype3_txt >>> object
targtype1 >>> int64
targtype1_txt >>> object
targsubtype1 >>> float64
targsubtype1_txt >>> object
corp1 >>> object
target1 >>> object
natlty1 >>> float64
natlty1_txt >>> object
targtype2 >>> float64
targtype2_txt >>> object
targsubtype2 >>> float64
targsubtype2_txt >>> object
corp2 >>> object
target2 >>> object
natlty2 >>> float64
natlty2_txt >>> object
targtype3 >>> float64
targtype3_txt >>> object
targsubtype3 >>> float64
targsubtype3_txt >>> object
corp3 >>> object
target3 >>> object
natlty3 >>> float64
natlty3_txt >>> object
gname >>> object
gsubname >>> object
gname2 >>> object
gsubname2 >>> object
gname3 >>> object
gsubname3 >>> object
motive >>> object
guncertain1 >>> float64
guncertain2 >>> float64
guncertain3 >>> float64
individual >>> int64
nperps >>> float64
nperpcap >>> float64
claimed >>> float64
claimmode >>> float64
claimmode_txt >>> object
claim2 >>> float64
claimmode2 >>> float64
claimmode2_txt >>> object
claim3 >>> float64
claimmode3 >>> float64
claimmode3_txt >>> object
compclaim >>> float64
weaptype1 >>> int64
weaptype1_txt >>> object
weapsubtype1 >>> float64
weapsubtype1_txt >>> object
weaptype2 >>> float64
weaptype2_txt >>> object
weapsubtype2 >>> float64
weapsubtype2_txt >>> object
weaptype3 >>> float64
weaptype3_txt >>> object
weapsubtype3 >>> float64
weapsubtype3_txt >>> object
weaptype4 >>> float64
weaptype4_txt >>> object
weapsubtype4 >>> float64
weapsubtype4_txt >>> object
weapdetail >>> object
nkill >>> float64
nkillus >>> float64
nkillter >>> float64
nwound >>> float64
nwoundus >>> float64
nwoundte >>> float64
property >>> int64
propextent >>> float64
propextent_txt >>> object
propvalue >>> float64
propcomment >>> object
ishostkid >>> float64
nhostkid >>> float64
nhostkidus >>> float64
nhours >>> float64
ndays >>> float64
divert >>> object
kidhijcountry >>> object
ransom >>> float64
ransomamt >>> float64
ransomamtus >>> float64
ransompaid >>> float64
ransompaidus >>> float64
ransomnote >>> object
hostkidoutcome >>> float64
hostkidoutcome_txt >>> object
nreleased >>> float64
addnotes >>> object
scite1 >>> object
scite2 >>> object
scite3 >>> object
dbsource >>> object
INT_LOG >>> int64
INT_IDEO >>> int64
INT_MISC >>> int64
INT_ANY >>> int64
related >>> object

In [10]:
from collections import Counter

In [11]:
name_country = data_one[['country', 'country_txt']]
print(len(name_country))
l = Counter()
for k, d in zip(data_one['country'], data_one['country_txt']):
    l[k] = d
#un = set(l)
print(len(l))
# print(l[10])
# print(type(l[10]))

181691
205

In [11]:
con = sqlite3.connect('exampl_data_base.db')
cur = con.cursor()

In [16]:
for k in l:
    sql = f"""INSERT INTO country (name_country,cod_country) VALUES ("{k}","{l[k]}");"""
    #print(sql)
    cur.execute(sql)
con.commit()

In [13]:
data_one = data_one.drop(columns=['country_txt'])

In [14]:
data_one = data_one.rename(columns={'country':'cod_country'})

In [15]:
print(data_one.columns.tolist())

['eventid', 'iyear', 'imonth', 'iday', 'approxdate', 'extended', 'resolution', 'cod_country', 'region', 'region_txt', 'provstate', 'city', 'latitude', 'longitude', 'specificity', 'vicinity', 'location', 'summary', 'crit1', 'crit2', 'crit3', 'doubtterr', 'alternative', 'alternative_txt', 'multiple', 'success', 'suicide', 'attacktype1', 'attacktype1_txt', 'attacktype2', 'attacktype2_txt', 'attacktype3', 'attacktype3_txt', 'targtype1', 'targtype1_txt', 'targsubtype1', 'targsubtype1_txt', 'corp1', 'target1', 'natlty1', 'natlty1_txt', 'targtype2', 'targtype2_txt', 'targsubtype2', 'targsubtype2_txt', 'corp2', 'target2', 'natlty2', 'natlty2_txt', 'targtype3', 'targtype3_txt', 'targsubtype3', 'targsubtype3_txt', 'corp3', 'target3', 'natlty3', 'natlty3_txt', 'gname', 'gsubname', 'gname2', 'gsubname2', 'gname3', 'gsubname3', 'motive', 'guncertain1', 'guncertain2', 'guncertain3', 'individual', 'nperps', 'nperpcap', 'claimed', 'claimmode', 'claimmode_txt', 'claim2', 'claimmode2', 'claimmode2_txt', 'claim3', 'claimmode3', 'claimmode3_txt', 'compclaim', 'weaptype1', 'weaptype1_txt', 'weapsubtype1', 'weapsubtype1_txt', 'weaptype2', 'weaptype2_txt', 'weapsubtype2', 'weapsubtype2_txt', 'weaptype3', 'weaptype3_txt', 'weapsubtype3', 'weapsubtype3_txt', 'weaptype4', 'weaptype4_txt', 'weapsubtype4', 'weapsubtype4_txt', 'weapdetail', 'nkill', 'nkillus', 'nkillter', 'nwound', 'nwoundus', 'nwoundte', 'property', 'propextent', 'propextent_txt', 'propvalue', 'propcomment', 'ishostkid', 'nhostkid', 'nhostkidus', 'nhours', 'ndays', 'divert', 'kidhijcountry', 'ransom', 'ransomamt', 'ransomamtus', 'ransompaid', 'ransompaidus', 'ransomnote', 'hostkidoutcome', 'hostkidoutcome_txt', 'nreleased', 'addnotes', 'scite1', 'scite2', 'scite3', 'dbsource', 'INT_LOG', 'INT_IDEO', 'INT_MISC', 'INT_ANY', 'related']

In [2]:
import csv

In [4]:
print(data_read[0])
print(len(data_read[0]))

['eventid', 'iyear', 'imonth', 'iday', 'approxdate', 'extended', 'resolution', 'country', 'country_txt', 'region', 'region_txt', 'provstate', 'city', 'latitude', 'longitude', 'specificity', 'vicinity', 'location', 'summary', 'crit1', 'crit2', 'crit3', 'doubtterr', 'alternative', 'alternative_txt', 'multiple', 'success', 'suicide', 'attacktype1', 'attacktype1_txt', 'attacktype2', 'attacktype2_txt', 'attacktype3', 'attacktype3_txt', 'targtype1', 'targtype1_txt', 'targsubtype1', 'targsubtype1_txt', 'corp1', 'target1', 'natlty1', 'natlty1_txt', 'targtype2', 'targtype2_txt', 'targsubtype2', 'targsubtype2_txt', 'corp2', 'target2', 'natlty2', 'natlty2_txt', 'targtype3', 'targtype3_txt', 'targsubtype3', 'targsubtype3_txt', 'corp3', 'target3', 'natlty3', 'natlty3_txt', 'gname', 'gsubname', 'gname2', 'gsubname2', 'gname3', 'gsubname3', 'motive', 'guncertain1', 'guncertain2', 'guncertain3', 'individual', 'nperps', 'nperpcap', 'claimed', 'claimmode', 'claimmode_txt', 'claim2', 'claimmode2', 'claimmode2_txt', 'claim3', 'claimmode3', 'claimmode3_txt', 'compclaim', 'weaptype1', 'weaptype1_txt', 'weapsubtype1', 'weapsubtype1_txt', 'weaptype2', 'weaptype2_txt', 'weapsubtype2', 'weapsubtype2_txt', 'weaptype3', 'weaptype3_txt', 'weapsubtype3', 'weapsubtype3_txt', 'weaptype4', 'weaptype4_txt', 'weapsubtype4', 'weapsubtype4_txt', 'weapdetail', 'nkill', 'nkillus', 'nkillter', 'nwound', 'nwoundus', 'nwoundte', 'property', 'propextent', 'propextent_txt', 'propvalue', 'propcomment', 'ishostkid', 'nhostkid', 'nhostkidus', 'nhours', 'ndays', 'divert', 'kidhijcountry', 'ransom', 'ransomamt', 'ransomamtus', 'ransompaid', 'ransompaidus', 'ransomnote', 'hostkidoutcome', 'hostkidoutcome_txt', 'nreleased', 'addnotes', 'scite1', 'scite2', 'scite3', 'dbsource', 'INT_LOG', 'INT_IDEO', 'INT_MISC', 'INT_ANY', 'related']
135

In [5]:
sql = "CREATE TABLE all_info (idSource INTEGER PRIMARY KEY AUTOINCREMENT, "

In [36]:
first_servis = [(k + ' text, ') for k in  data_read[0]]
str_1 = ''.join(first_servis)
sql =  sql + str_1[:-2] + ');'

In [37]:
print(sql)

CREATE TABLE all_info (idSource INTEGER PRIMARY KEY AUTOINCREMENT, eventid text, iyear text, imonth text, iday text, approxdate text, extended text, resolution text, country text, country_txt text, region text, region_txt text, provstate text, city text, latitude text, longitude text, specificity text, vicinity text, location text, summary text, crit1 text, crit2 text, crit3 text, doubtterr text, alternative text, alternative_txt text, multiple text, success text, suicide text, attacktype1 text, attacktype1_txt text, attacktype2 text, attacktype2_txt text, attacktype3 text, attacktype3_txt text, targtype1 text, targtype1_txt text, targsubtype1 text, targsubtype1_txt text, corp1 text, target1 text, natlty1 text, natlty1_txt text, targtype2 text, targtype2_txt text, targsubtype2 text, targsubtype2_txt text, corp2 text, target2 text, natlty2 text, natlty2_txt text, targtype3 text, targtype3_txt text, targsubtype3 text, targsubtype3_txt text, corp3 text, target3 text, natlty3 text, natlty3_txt text, gname text, gsubname text, gname2 text, gsubname2 text, gname3 text, gsubname3 text, motive text, guncertain1 text, guncertain2 text, guncertain3 text, individual text, nperps text, nperpcap text, claimed text, claimmode text, claimmode_txt text, claim2 text, claimmode2 text, claimmode2_txt text, claim3 text, claimmode3 text, claimmode3_txt text, compclaim text, weaptype1 text, weaptype1_txt text, weapsubtype1 text, weapsubtype1_txt text, weaptype2 text, weaptype2_txt text, weapsubtype2 text, weapsubtype2_txt text, weaptype3 text, weaptype3_txt text, weapsubtype3 text, weapsubtype3_txt text, weaptype4 text, weaptype4_txt text, weapsubtype4 text, weapsubtype4_txt text, weapdetail text, nkill text, nkillus text, nkillter text, nwound text, nwoundus text, nwoundte text, property text, propextent text, propextent_txt text, propvalue text, propcomment text, ishostkid text, nhostkid text, nhostkidus text, nhours text, ndays text, divert text, kidhijcountry text, ransom text, ransomamt text, ransomamtus text, ransompaid text, ransompaidus text, ransomnote text, hostkidoutcome text, hostkidoutcome_txt text, nreleased text, addnotes text, scite1 text, scite2 text, scite3 text, dbsource text, INT_LOG text, INT_IDEO text, INT_MISC text, INT_ANY text, related text);

In [38]:
cur.execute(sql)
con.commit()

In [6]:
second_servis = [(k + ', ') for k in  data_read[0]]
str_1 = ''.join(second_servis)
sql2 = "INSERT INTO all_info (" + str_1[:-2] + ') VALUES '
sum_str = ''
ll = 0
for k in  data_read[1:]:
    ll +=1
    new_str = sql2
    str_serv = '("'
    try:
        for n in k:
            n = str(n).replace('"',' ')
            str_serv += (str(n) + '", "')
        str_serv = str_serv[:-4] + '") '
        #sum_str += str_serv
        new_str = new_str + str_serv + ';'
        cur.execute(new_str)
        con.commit()
    except Exception as inst :
        print(inst)
        print(ll)
        print(new_str)
        break

name 'cur' is not defined
1
INSERT INTO all_info (eventid, iyear, imonth, iday, approxdate, extended, resolution, country, country_txt, region, region_txt, provstate, city, latitude, longitude, specificity, vicinity, location, summary, crit1, crit2, crit3, doubtterr, alternative, alternative_txt, multiple, success, suicide, attacktype1, attacktype1_txt, attacktype2, attacktype2_txt, attacktype3, attacktype3_txt, targtype1, targtype1_txt, targsubtype1, targsubtype1_txt, corp1, target1, natlty1, natlty1_txt, targtype2, targtype2_txt, targsubtype2, targsubtype2_txt, corp2, target2, natlty2, natlty2_txt, targtype3, targtype3_txt, targsubtype3, targsubtype3_txt, corp3, target3, natlty3, natlty3_txt, gname, gsubname, gname2, gsubname2, gname3, gsubname3, motive, guncertain1, guncertain2, guncertain3, individual, nperps, nperpcap, claimed, claimmode, claimmode_txt, claim2, claimmode2, claimmode2_txt, claim3, claimmode3, claimmode3_txt, compclaim, weaptype1, weaptype1_txt, weapsubtype1, weapsubtype1_txt, weaptype2, weaptype2_txt, weapsubtype2, weapsubtype2_txt, weaptype3, weaptype3_txt, weapsubtype3, weapsubtype3_txt, weaptype4, weaptype4_txt, weapsubtype4, weapsubtype4_txt, weapdetail, nkill, nkillus, nkillter, nwound, nwoundus, nwoundte, property, propextent, propextent_txt, propvalue, propcomment, ishostkid, nhostkid, nhostkidus, nhours, ndays, divert, kidhijcountry, ransom, ransomamt, ransomamtus, ransompaid, ransompaidus, ransomnote, hostkidoutcome, hostkidoutcome_txt, nreleased, addnotes, scite1, scite2, scite3, dbsource, INT_LOG, INT_IDEO, INT_MISC, INT_ANY, related) VALUES ("197000000001", "1970", "7", "2", "", "0", "", "58", "Dominican Republic", "2", "Central America & Caribbean", "", "Santo Domingo", "18.456792", "-69.951164", "1", "0", "", "", "1", "1", "1", "0", "", "", "0", "1", "0", "1", "Assassination", "", "", "", "", "14", "Private Citizens & Property", "68", "Named Civilian", "", "Julio Guzman", "58", "Dominican Republic", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "MANO-D", "", "", "", "", "", "", "0", "", "", "0", "", "", "", "", "", "", "", "", "", "", "", "", "13", "Unknown", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "1", "", "", "0", "", "", "0", "", "", "", "", "0", "", "", "", "", "", "", "0", "", "", "", "", "", "", "", "", "", "", "", "", "PGIS", "0", "0", "0", "0", "") ;

In [68]:
#print(sql2)

In [61]:
cur.execute(sql2)
con.commit()

OperationalError: near "Police": syntax error

In [6]:
# Read CSV file
import csv
with open('data_sets/globalterrorismdb_0718dist.csv', encoding='latin1') as fp:
    reader = csv.reader(fp, delimiter=",")#, quotechar='"')
    # next(reader, None)  # skip the headers
    data_read = [row for row in reader]

In [7]:
import config_metads_increasingSpeedSql as config
import psycopg2
KERBEROSS = {'host': config.host,
             'port': config.port,
             'user': config.user,
             'password': config.passwd,
             'database': config.dbase}

In [3]:
conn = psycopg2.connect(**KERBEROSS)
cur  = conn.cursor()

In [18]:
# sql = "CREATE TABLE public.all_info (idSource SERIAL PRIMARY KEY, "
# first_servis = [(k + ' TEXT, ') for k in  data_read[0]]
# str_1 = ''.join(first_servis)
# sql =  sql + str_1[:-2] + ');'
# sql

In [4]:
cur.execute("ROLLBACK")
conn.commit()

In [8]:
second_servis = [(k + ', ') for k in  data_read[0]]
str_1 = ''.join(second_servis)
sql2 = "INSERT INTO public.all_info " +\
"(idsource, eventid, iyear, " +\
"imonth, iday, approxdate, extended, resolution, country, country_txt, " +\
"region, region_txt, provstate, city, latitude, longitude, specificity, " +\
"vicinity, location, summary, crit1, crit2, crit3, doubtterr, alternative, " +\
"alternative_txt, multiple, success, suicide, attacktype1, attacktype1_txt, " +\
"attacktype2, attacktype2_txt, attacktype3, attacktype3_txt, targtype1, " +\
"targtype1_txt, targsubtype1, targsubtype1_txt, corp1, target1, natlty1, " +\
"natlty1_txt, targtype2, targtype2_txt, targsubtype2, targsubtype2_txt, " +\
"corp2, target2, natlty2, natlty2_txt, targtype3, targtype3_txt, targsubtype3, " +\
"targsubtype3_txt, corp3, target3, natlty3, natlty3_txt, gname, gsubname, gname2, " +\
"gsubname2, gname3, gsubname3, motive, guncertain1, guncertain2, guncertain3, " +\
"individual, nperps, nperpcap, claimed, claimmode, claimmode_txt, claim2, " +\
"claimmode2, claimmode2_txt, claim3, claimmode3, claimmode3_txt, compclaim, " +\
"weaptype1, weaptype1_txt, weapsubtype1, weapsubtype1_txt, weaptype2, weaptype2_txt, " +\
"weapsubtype2, weapsubtype2_txt, weaptype3, weaptype3_txt, weapsubtype3, weapsubtype3_txt, " +\
"weaptype4, weaptype4_txt, weapsubtype4, weapsubtype4_txt, weapdetail, nkill, " +\
"nkillus, nkillter, nwound, nwoundus, nwoundte, property, propextent, propextent_txt, " +\
"propvalue, propcomment, ishostkid, nhostkid, nhostkidus, nhours, ndays, divert, " +\
"kidhijcountry, ransom, ransomamt, ransomamtus, ransompaid, ransompaidus, ransomnote, " +\
"hostkidoutcome, hostkidoutcome_txt, nreleased, addnotes, scite1, scite2, scite3, " +\
"dbsource, int_log, int_ideo, int_misc, int_any, related) " +\
"VALUES(nextval('all_info_idsource_seq'::regclass)"
sum_str = ''
ll = 0
for k in  data_read[1:]:
    ll +=1
    new_str = sql2
    str_serv = ",'"
    try:
        k_v = 0
        for n in k:
            n = str(n).replace('"',' ')
            n = n.replace("'",' ')
            k_v  += 1
            if len(n) == 0:
                str_serv += ("', '")
            else:
                str_serv += (str(n) + "', '")
        str_serv = str_serv[:-4] + "')"
        #sum_str += str_serv
        new_str = new_str + str_serv + ';'
        # print(new_str)
        #print(k_v)
        cur.execute(new_str)
        conn.commit()
    except Exception as inst :
        print(inst)
        print(ll)
        print(new_str)
        break