In [1]:
import sqlite3

In [2]:
import time

In [3]:
con = sqlite3.connect('data_sets/exampl_data_base.db')

In [4]:
cur = con.cursor()

In [5]:
sql_01 = 'select * from all_info;'

In [6]:
start = time.time()
res = cur.execute(sql_01)
print(time.time() - start)

0.0011434555053710938

In [7]:
sql_02 = 'select cod_country from all_info;'

In [10]:
start = time.time()
res = cur.execute(sql_02)
print(time.time() - start)

0.0003769397735595703

In [11]:
start = time.time()
res = cur.execute(sql_02)
print(time.time() - start)

0.0002167224884033203

### 2.Избегайте включения оператора HAVING в  SELECT

In [12]:
sql_03 = """SELECT cod_country, count(city) FROM all_info 
WHERE cod_country = '217'
GROUP BY cod_country;"""

In [19]:
start = time.time()
res = cur.execute(sql_03)
print(time.time() - start)

0.04892992973327637

In [20]:
sql_04 = """SELECT cod_country, count(city) FROM all_info 
GROUP BY cod_country
HAVING cod_country = '217'
"""

In [21]:
start = time.time()
res = cur.execute(sql_04)
print(time.time() - start)

0.04917716979980469